<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785982846811-kp2ifnu19usg9pgtvn7rc92kgacdo0o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785982846811-kp2ifnu19usg9pgtvn7rc92kgacdo0o0</string>
	<key>API_KEY</key>
	<key>GCM_SENDER_ID</key>
	<string>785982846811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.Sleeper-League-Helper</string>
	<key>PROJECT_ID</key>
	<string>sleeper-league-helper</string>
	<key>STORAGE_BUCKET</key>
	<string>sleeper-league-helper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785982846811:ios:f4970eeabab388eb5e4c7e</string>
</dict>
</plist>
